
{% extends 'base.html.twig' %}


{% block contenido %}


<h1>Agregar animal</h1>


<form action="almacenar" method="post">

	<table>
		<tr>
			<td><label for="">Nombre</label></td>
			<td><input type="text" name="txtNombre" id="txtNombre" /></td>
		</tr>
		<tr>
			<td><label for="">Fecha ingreso</label></td>
			<td><input type="date" name="txtFechaIngreso"
				id="txtFechaIngreso" /></td>

		</tr>
		
		<tr>
			<td>
				<label for="">Familia</label>
			</td>
			<td>
				<select name="cboFamilia" id="cboFamilia">
					<option value="">Seleccionar</option>
					
					{% for f in familias %}
					
					<option value="{{ f.getId() }}">{{ f.getNombre() }}</option>
					
					{% endfor %}
					
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="">Raza</label>
			</td>
			<td>
				<select name="cboRaza" id="cboRaza">
					<option value="">seleccionar</option>
					
					{% for r in razas %}
					<option value="{{ r.getId() }}">{{ r.getNombre() }}</option>
					{% endfor %}
					
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label for="">Peso</label>
			</td>
			<td>
				<input type="number" name="txtPeso" id="txtPeso" />
			</td>
		</tr>
		
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Guardar" />
			</td>
		</tr>
	</table>

 
</form>
{{ mensaje }}


{% endblock contenido %}

